* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-size: 62.5%;
    background-image: url(./imgs/imagem-fundo.jpg);
}

a {
    text-decoration: none;
    color: inherit;
}

nav {
    background-color: #1D56FF;
    position: fixed;
    width: 100%;
}

.list {
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em 25vw;
    min-width: none;
}

.topic {
    font-size: 2.6em;
    color: #fff;
    font-weight: bolder;
}

.topic:hover {
    cursor: pointer;
    color: #22EEFF;
}

main {
    display: flex;
    justify-content: center;
}

.main {
    margin: 80px 0 30px 0;
    padding: 18px;
    border-radius: 24px;
    width: 60%;
    background-color: #e6e6e6;
}

section.introduction h1 {
    display: flex;
    font-size: 3.6em;
    justify-content: center;
}

section.introduction p {
    font-size: 2.4em;
}

section.pillars h2 {
    display: flex;
    font-size: 3em;
    justify-content: center;
}

section.pillars h3 {
    font-size: 2.8em;
    justify-content: center;
}

div.container {
    display: flex;
}

div.container p {
    font-size: 2em;
    width: 60%;
    margin: 0 1.8em;
    justify-content: center;
    align-self: center;
}

figure.family-img img{
    width: 350px;
}

figure.brawl-stars-img img {
    width: 350px;
}

figure.naruto-img img {
    width: 175px;
}

figure.hinata-img img {
    height: 320px;
}